<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link href="../../static/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/mairie.css">
    <title>Tableau de bord - Mairie</title>
</head>

<body>
    <div class="sidebar">
        <div class="logo">
            <img src="../../static/images/télécharger.jpg" alt="Logo" />
        </div>

        <ul class="menu">
            <li><a href="#page2"><i class="bx bx-send"></i> Déclarations Reçues</a></li>
            <li><a href="#page3"><i class="bx bx-file"></i> Actes de Naissance</a></li>
            <li><a href="#page7"><i class="bx bx-bar-chart"></i> Statistiques</a></li>
            <li><a href="#page4"><i class="bx bx-cog"></i> Paramètres</a></li>
            <li><a href="#page5"><i class="bx bx-help-circle"></i> Aide</a></li>
        </ul>

        <div class="logout-btn">
            <a href="{{ url_for('auth.logout') }}" class="btn btn-con text-white">
                <i class='bx bx-log-out'></i> Déconnexion
            </a>
        </div>
    </div>

    <div class="content">
        <div id="page1" class="page active">
            <div class="container mt-4 text-center">
                <h2>Bienvenue sur la plateforme de gestion des actes de naissance</h2>
                <p>Interface pour traiter les déclarations, enregistrer les actes, visualiser les statistiques et configurer les paramètres.</p><br>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-3 clickable" data-target="page2">
                            <div class="card-body">
                                <h5 class="card-title text-center"><i class="bx bx-send"></i> Déclarations Reçues</h5>
                                <p class="card-text">Total : <strong>10</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white bg-success mb-3 clickable" data-target="page3">
                            <div class="card-body">
                                <h5 class="card-title text-center"><i class="bx bx-file"></i> Actes de Naissance</h5>
                                <p class="card-text">Total : <strong>50</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white bg-warning mb-3 clickable" data-target="page7">
                            <div class="card-body">
                                <h5 class="card-title text-center"><i class="bx bx-bar-chart"></i> Statistiques</h5>
                                <p class="card-text">Vue d'ensemble : <strong>--</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white bg-info mb-3 clickable" data-target="page4">
                            <div class="card-body">
                                <h5 class="card-title text-center"><i class="bx bx-cog"></i> Paramètres</h5>
                                <p class="card-text">Configuration : <strong>--</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white bg-secondary mb-3 clickable" data-target="page5">
                            <div class="card-body">
                                <h5 class="card-title text-center"><i class="bx bx-help-circle"></i> Aide</h5>
                                <p class="card-text">Support disponible : <strong>--</strong></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="page2" class="page">
            <h1>Gestion des déclarations reçues</h1>
        </div>

        <div id="page3" class="page">
            <h1>Gestion des actes de naissance</h1>
        </div>

        <div id="page4" class="page">
            <h1>Paramètres</h1>
        </div>

        <div id="page5" class="page">
            <h1>Centre d'aide</h1>
        </div>

        <div id="page7" class="page">
            <h1>Statistiques</h1>
        </div>
    </div>

    <script src="../../static/js/mairie.js" ></script>
</body>

</html>