<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialiser le mot de passe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='boxicons/css/boxicons.min.css') }}" />
</head>
<body class="container mt-5">
    <h2>🔐 Réinitialisation du mot de passe</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="password" class="form-label">Nouveau mot de passe</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirmer le mot de passe</label>
            <input type="password" class="form-control" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Réinitialiser</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>
