<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Réinitialiser le mot de passe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='boxicons/css/boxicons.min.css') }}" />
</head>

<body>
   <section class="home show">
    <a href="#" class="nav_logo"><i class='bx bxs-baby-carriage'></i> Gestion Numérique des Actes de Naissance</a>
    <div class="form_container">
        <a href="{{ url_for('auth.forget_password') }}">
            <i class="bx bx-x form_close"></i>
        </a>
        <div class="form login_form">
            <h2>🔐 Réinitialisation du mot de passe</h2>
            <form action="{{ url_for('auth.reset_password') }}" method="POST">
                <div class="input_box">
                    <input type="password" name="password" id="password"
                        placeholder="Nouveau mot de passe" required />
                    <i class="bx bx-lock password"></i>
                    <i class="bx bx-low-vision pw_hide"></i>
                    <div id="password-message" class="validity-message"></div>
                </div>
                <div class="input_box">
                    <input type="password" name="confirm_password" id="confirm_password"
                        placeholder="Confirmer le mot de passe" required />
                    <i class="bx bx-lock password"></i>
                    <i class="bx bx-low-vision pw_hide"></i>
                    <div id="confirm-message" class="validity-message"></div>
                </div>
                <button type="submit" class="button">Réinitialiser</button>
            </form>
        </div>
    </div>
</section>

    <script src="../../static/js/login.js"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const alert = document.createElement('div');
            alert.className = `alert alert-{{ category }} alert-dismissible fade show position-fixed top-0 end-0 m-3`;
            alert.style.zIndex = '9999';
            alert.innerHTML = `
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    `;
            document.body.appendChild(alert);
            setTimeout(() => alert.remove(), 5000);
        });
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>

</html>